<nav class="nav-extended grey lighten-4">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Nike</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <i class="material-icons">menu</i>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/account">My Account</a></li>
            <li><a href="/card">Card</a></li>
        </ul>
    </div>
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            {{#if isHome}}
                <li class="tab active"><a href="/">Home</a></li>
            {{else}}
                <li class="tab"><a href="/">Home</a></li>
            {{/if}}

            {{#if isMen}}
                <li class="tab active"><a href="/men">Men</a></li>
            {{else}}
                <li class="tab"><a href="/men">Men</a></li>
            {{/if}}

            {{#if isWomen}}
                <li class="tab active"><a href="/women">Women</a></li>
            {{else}}
                <li class="tab"><a href="/women">Women</a></li>
            {{/if}}
        </ul>
    </div>
</nav>