<h1>Add Shoes</h1>

<form action="/add" method="POST">
    <div class="input-field">
        <input id="title" name="title" type="text" class="validate" required>
        <label for="title">Name shoes</label>
        <span class="helper-text" data-error="Enter title"></span>
    </div>
    <div class="input-field">
        <input id="price" name="price" type="number" class="validate" required min="1">
        <label for="price">Price shoes</label>
        <span class="helper-text" data-error="Enter price"></span>
    </div>
    <div class="input-field">
        <select name="page">
            <option value="men">Men</option>
            <option value="women">Women</option>
        </select>
        <label>Shoes page</label>
    </div>
    <div class="input-field">
        <input id="img" name="img" type="text" class="validate" required>
        <label for="img">URL image</label>
        <span class="helper-text" data-error="Enter url image"></span>
    </div>
    <button class="btn btn-primary">Add shoes</button>
</form>