<h1>Card</h1>

<div id="card">
    {{#if shoes.length}}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Count</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each shoes}}
                <tr>
                    <td>{{title}}</td>
                    <td>{{count}}</td>
                    <td>
                        <button class="btn btn-small js-remove" data-id="{{id}}">Delete</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        <p><strong>Price:</strong> <span class="price">{{price}}</span></p>
    {{else}}
        <p>Card empty</p>
    {{/if}}
</div>