<h1>Men</h1>

{{#if menShoes.length}}
    <div class="row">
    {{#each menShoes}}
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <img src="{{img}}" alt="{{title}}">
                </div>
                <div class="card-content">
                    <span class="card-title">{{title}}</span>
                    <span class="price">{{price}}</span>
                </div>
                <div class="card-action actions">
                    <a href="/all/{{id}}" class="btn btn-primary">View</a>
                    <a href="/all/{{id}}/edit?allow=true" class="btn btn-primary">Edit</a>
                    <form action="/card/add" method="POST">
                        <input type="hidden" name="id" value="{{id}}">
                        <button type="submit" class="btn btn-primary">Buy</button>
                    </form>
                </div>
            </div>
        </div>
    {{/each}}
    </div>
{{else}}
    <p>No sneakers</p>
{{/if}}