<div class="shoes">
    <div class="shoes-img">
        <img src="{{shoes.img}}" alt="{{shoes.title}}">
    </div>
    <div class="shoes-content">
        <div class="shoes-title">
            <h3>{{shoes.title}}</h3>
        </div>
        <div class="price">{{shoes.price}}</div>
    </div>
</div>