<h1>Edit {{shoes.title}}</h1>

<form action="/shoes/edit" method="POST">
    <div class="input-field">
        <input id="title" name="title" type="text" class="validate" value="{{shoes.title}}" required>
        <label for="title">Name shoes</label>
        <span class="helper-text" data-error="Enter title"></span>
    </div>
    <div class="input-field">
        <input id="price" name="price" type="number" class="validate" value="{{shoes.price}}" required min="1">
        <label for="price">Price shoes</label>
        <span class="helper-text" data-error="Enter price"></span>
    </div>
    <div class="input-field">
        {{#ifCond shoes.page "===" "men"}}
            <select name="page">
                <option value="men" selected>Men</option>
                <option value="women">Women</option>
            </select>
        {{else}}
            <select name="page">
                <option value="men">Men</option>
                <option value="women" selected>Women</option>
            </select>
        {{/ifCond}}
        <label>Shoes page</label>
    </div>
    <div class="input-field">
        <input id="img" name="img" type="text" class="validate" value="{{shoes.img}}" required>
        <label for="img">URL image</label>
        <span class="helper-text" data-error="Enter url image"></span>
    </div>

    <input type="hidden" name="id" value="{{shoes.id}}">
    <button type="submit" class="btn btn-primary">Save shoes</button>
</form>

<form action="/shoes/remove" method="POST" class="rm-shoes">
    <input type="hidden" name="id" value="{{shoes.id}}">
    <input type="hidden" name="page" value="{{shoes.page}}">
    <button class="btn red">Remove shoes</button>
</form>