body a {
    color: #222 !important;
}
nav {
    box-shadow: none;
    border-bottom: 1px solid #ccc;
}
img {
    width: 100%;
    object-fit: cover;
    display: inline-block;
}
.nav-wrapper {
    padding: 0 15px;
    border-bottom: 1px solid #ccc;
}
.nav-content ul {
    display: flex;
    justify-content: center;
}
.btn-floating .material-icons {
    font-style: inherit;
}
.price {
    font-size: 20px;
}
.shoes {
    display: flex;
    margin-top: 40px;
}
.shoes .shoes-img {
    width: 30%;
}
.shoes-content {
    margin-left: 30px;
}
.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rm-shoes {
    margin-top: 30px;
}